
{% extends 'base.html' %}

{% block content %}


        <div style="background-color: #9fb16a;" class=" p-5  text-dark">

            <div class="shadow-lg p-5 mb-5 mt-5 ms-5 me-5 bg-body rounded" class="container px-4">        
                <form action="event_dashboard.html" method="post"  class="row g-3" >
                    {% csrf_token %}

                    <figure class="text-center">
                        <h1 class="display-2 p-4 mb-0 mt-2 ms-5 me-5  bg-white text-dark">Event Dashboard</h1>
                
                    </figure>
                    <br><br>

                    <div class="col-md-6" ">
                        <label for="hid" class="form-label">Event ID</label>
                        <input type="text" class="form-control" id="hid" name="hid" required>
                    </div>

                    <div class="col-md-6" ">
                        <label for="epass" class="form-label">Event Password</label>
                        <input type="password" class="form-control" id="epass" name="epass" required>
                    </div>

                    <div  class="text-center" >
                        <button type="submit" class="btn btn-primary">Get event details</button>
                    </div>

                </form>
            </div>
        </div>
      

{% endblock %}