{% extends 'base.html' %}

{% block content %}


    <div style="background-color: #f7ffff;"class="p-3 mb-2  text-dark">


        <figure class="text-center">
            <br><br><br><br><br>    
            <h1 class="display-1">{{ev.ename}} Responses</h1>
    
        </figure>
    
        {% for row in data%}

            <br><br>
                <div class="shadow-lg p-5 mb-5 mt-1 ms-5 me-5 bg-body rounded" class="container px-2">
                <form  class="row g-3" >

                    <div class="col-md-6" >
                        First Name
                        <div class="rounded p-2 mt-1 " style="background-color: rgb(235, 235, 235);" >{{row.fname}}</div>
                    </div>
                    
                    <div class="col-md-6" >
                        Last Name
                        <div class="rounded p-2 mt-1 " style="background-color: rgb(235, 235, 235);" >{{row.lname}}</div>
                    </div>

                    <div class="col-md-6">
                        Participant's Email
                        <div class="rounded p-2 mt-1 " style="background-color: rgb(235, 235, 235);" >{{row.iemail}}</div>
                    </div>
    
                    <div class="col-md-6">
                        Participant's Contact Number
                        <div class="rounded p-2 mt-1 " style="background-color: rgb(235, 235, 235);" > {{row.icon}}</div>
                    </div>
                    
                    <div class="col-md-6">
                        Number of people registered
                        <div class="rounded p-2 mt-1 " style="background-color: rgb(235, 235, 235);" > {{row.rno}}</div>
                    </div>
    
                </form> 
            </div>    
        {% endfor %}
    </div>

{% endblock %}